@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Genos&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("/bg.jpg") fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.wrap {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

h1.head {
  font-family: "Balsamiq Sans", cursive;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 100px;
  left: 11.5em;
}

p.title {
  font-family: "Balsamiq Sans", cursive;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 30px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="text"],
form input[type="password"] {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 1px solid #fff;
  background: 0;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 5px;
  outline: 0;
}

form input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #176fc1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  padding: 7px;
  margin-top: 16px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

form input[type="submit"]:hover {
  transition: background-color 0.5s ease;
  background-color: #ce0f3e;
}

form .remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

form label,
form a {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}

form label {
  cursor: pointer;
}

form a {
  float: right;
  text-decoration: none;
  transition: color 0.5s ease;
}

form a:hover {
  color: #ce0f3e;
}

.pr-wrap {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.show-pass-reset {
  display: block !important;
}

.pass-reset {
  background: #fff;
  margin: 0 auto;
  width: 300px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  padding: 20px 15px;
}

.pass-reset label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.pass-reset input[type="email"] {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  margin-bottom: 5px;
  outline: 0;
}

.pass-reset input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background: #176fc1;
  border: 0;
  padding: 7px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
}

.pass-reset input[type="submit"]:hover {
  transition: background-color 0.5s ease;
  background-color: #ce0f3e;
}

.ep-wrap {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.show-enter-password {
  display: block !important;
}

.enter-password {
  background: #fff;
  margin: 0 auto;
  width: 300px;
  position: relative;
  margin-top: 22%;
  padding: 20px 15px;
}

.enter-password label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.enter-password input[type="password"] {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  margin-bottom: 5px;
  outline: 0;
}

.enter-password input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background: #176fc1;
  border: 0;
  padding: 7px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
}

.enter-password input[type="submit"]:hover {
  transition: background-color 0.5s ease;
  background-color: #ce0f3e;
}

.new {
  position: absolute;
  bottom: 200px;
  left: 37em;
}

.new p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.register a span {
  color: #fff;
  cursor: pointer;
}
